* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    font-size: 24px; /* Adjust the size as needed */
    color: rgba(255, 255, 255, 1); /* Use black color with 54% opacity for light backgrounds */
    cursor: pointer;
}